*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color:inherit;
}

a:hover{
  text-decoration: none;
  color:inherit;
}

.nav{
  height: 100vh;
}

.ml-210{
  margin-left: 225px;
}

.bg-black{
  background-color: black;
}

.white{
  color: white;
}

.grey{
  color:#999999;
}

.black{
  color: black;
}

.bg-white{
  background-color: white;
}

.bg-dark-grey{
  background-color: #1a1a1a;
}

.pad-20{
  padding: 20px;
}

.plr-10{
  padding: 0 10px;
}

.mt-30{
  margin-top: 30px;
}

.mb-10{
  margin-bottom: 10px;
}

.mb-20{
  margin-bottom: 20px;
}

.bold{
  font-weight: bold;
}

.font-25{
  font-size: 25px;
}

.fa-spotify{
  font-size: 3em;
}

.fa-home, .fa-search, .fa-book{
  font-size: 2em;
  padding-right: 10px;
  padding-top: 15px;
}

.btn{
  border-radius: 30px;
}

.bord-r{
  border-right: 1px solid #999999;
}

.bg-grad{
  background-image: linear-gradient(to bottom right, #004466, #00111a);
}

.col-md-10 .col-md-2 hr{
  border-top: 2px solid #00b359;
  width: 30px;
  margin: 0 auto;
}

.col-md-8 .col-md-2 h6:hover{
  color:white;
}

.container-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.item img{
  width: 50%;
  height: auto;
}








.
